*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
}

.container {
    width: 1200px;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.img {
    width: 22%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.25s;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
    transition: 0.25s;
}

.img img:hover {
    transform: scale(2);
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}

.img-overlay {
    width: 50%;
    object-fit: center;
    object-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.img-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.25s;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 36px;
}

.close:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn {
    position: absolute;
    font-size: 40px;
    color: #fff;
    top: 50%;
    transform: translateX(-50%);
    display: block;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.privious {
    left: 10px;
}

.next {
    right: 10px;
}

.overlay.show {
    display: block;
}

.overlay.hiden {
    display: none;
}
